<%- include("header") -%>

<h1 class="box" id="heading">About </h1>
<p class="box">Hey guys, This is the author of this website Hariharan Ummadisetti. Its a simple to-do list that I created for my practice.</p>

<%- include("footer") -%>